<div class="dialog-address-details-container">

    <h2>Adresse ändern</h2>



    <div class="display-column">
        <div>
            <span class="user-dialog-font-style">Postleitzahl</span>
            <span class="required-asteric">*</span>
        </div>

        <input   placeholder="z.B. 18059">
    </div>
    <div class="display-column">
        <div>
            <span class="user-dialog-font-style">Ort</span>
            <span class="required-asteric">*</span>
        </div>

        <input   placeholder="z.B. Rostock">
    </div>



    <div class="dialog-actions">
        <button>Abbrechen</button>
        <button class="save-btn">Speichern</button>
    </div>


</div>