<div class="dialog-edit-user-container">


    <h2>Edit User Data</h2>

    <div class="data-content">
        <div class="user-prename-div display-column">
            <div>
                <span class="username-heading user-dialog-font-style">First Name</span>
                <span class="required-asteric">*</span>
            </div>

            <input [(ngModel)]="user.firstName" placeholder="z.B. Anton">
        </div>

        <div class="lastname-user-div display-column">
            <div>
                <span class="username-headinguser-dialog-font-style">Last Name</span>
                <span class="required-asteric">*</span>
            </div>

            <input [(ngModel)]="user.lastName" placeholder="z.B. Müller">
        </div>
        <div class="display-column">
            <div>
                <span class="user-dialog-font-style">Mailadresse</span>
                <span class="required-asteric">*</span>
            </div>

            <input [(ngModel)]="user.mailAddress" placeholder="z.B. anton.mueller@gmail.com">
        </div>







    </div>




    <div class="dialog-actions">
        <button (click)="closeDialog()">Abbrechen</button>
        <button class="save-btn" (click)="saveChanges()">Speichern</button>
    </div>



</div>