.progress-bar-container {
  width: 100%;
  height: 4px; 
  background-color: #e0e0e0;
  position: relative;
  border-radius: 2px;
}

.progress-bar {
  height: 100%;
  background-color: #3f51b5;
  transition: width 0.3s ease;

  &.indeterminate {
    position: absolute;
    width: 50%;
    animation: indeterminate 1.5s infinite;
  }
}

@keyframes indeterminate {
  0% {
    left: -50%;
  }
  50% {
    left: 25%;
  }
  100% {
    left: 100%;
  }
}
