.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  overflow-x: hidden;
  transition: width 0.3s ease;
  z-index: 900;
  background-color: WHITESMOKE;
  color: white;
  user-select: none;
}

.sidebar.open {
  width: 250px;
}

.logo-area {
  height: 150px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}
