.user-detail-header {
    position: relative;
    min-height: 250px;
    background-color: green;
    color: white;
}

.profile-image-style {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    margin-bottom: 24px;
    margin-left: 24px;
    display: flex;
    align-items: flex-end;
}

.user-detail-header {
    display: flex;
    align-items: flex-end;
}

.user-details {
    height: 100px;
    margin-left: 32px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    h2 {
        margin-bottom: 0;
    }
}

.address-card {
    position: relative;
    margin-top: 16px;
    padding: 16px;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px rgba(0, 0, 0, 0.4);
}

.user-adress-content {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
}

.more-details-button {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background-color: white;
    margin: 10px;
    width: 48px;
    height: 48px;
    border-radius: 500%;

    &:hover {
        cursor: pointer;
        background-color: rgb(226, 223, 223);
    }
}