.user-detail-header {
  min-height: 250px;
  background-color: green;
  color: white;
}

.profile-image-style {
  height: 100px;
  width: 100px;
  border-radius: 100%;
  margin-bottom: 24px;
  margin-left: 24px;
  display: flex;
  align-items: flex-end;
}

.user-detail-header {
  display: flex;
  align-items: flex-end;
}

.user-details {
  height: 100px;
  margin-left: 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.user-details h2 {
  margin-bottom: 0;
}

.adress-card {
  margin-top: 16px;
  padding: 16px;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px rgba(0, 0, 0, 0.4);
}

.user-adress-content {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
}
