.single-user-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 4px;
}



.user-table-style{

  width: 100%;

}

.table-header-style{
      display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  background-color: rgb(240, 234, 234);
  padding-top: 4px;
  padding-bottom: 4px;
}