.single-user-container{
    // display: flex;
    // flex-direction: row;
    // justify-content: space-between;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 4px;
}



.user-table-style{
  width: 100%;

}

.table-header-style{

  background-color: rgb(240, 234, 234);
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 16px;
  font-weight: 600;
}

th{
    text-align: start;
}

td{
      background-color: rgb(240, 234, 234);
  padding-top: 4px;
  padding-bottom: 4px;
}