.single-user-container {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 4px;
}

.user-table-style {
  width: 100%;
}

.table-header-style {
  background-color: #f0eaea;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 16px;
  font-weight: 600;
}

th {
  text-align: start;
}

td {
  background-color: #f0eaea;
  padding-top: 4px;
  padding-bottom: 4px;
}
