.single-user-container {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 4px;
}

.user-table-style {
  z-index: 99;
  width: 100%;
  border-collapse: collapse;
  z-index: 20;
}

.user-table-style tr {
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.user-table-style tr:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.user-table-style tr:first-child {
  cursor: unset;
}

.user-table-style tr:first-child:hover {
  background-color: unset;
}

.user-table-style tr:last-child {
  border-bottom: 0;
}

.user-table-style tr td {
  height: 48px;
}

.user-table-style tr td:first-child {
  padding-left: 16px;
}

.user-table-style tr th:first-child {
  padding-left: 16px;
}

.table-header-style {
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 16px;
  font-weight: 600;
}

th {
  text-align: start;
}

td {
  padding-top: 4px;
  padding-bottom: 4px;
}
